:root {
  --primary-colour: #018cdd;
  --primary-colour-accent: #026dac;
  --background-colour: #fafbfd;
  --secondary-colour: #cacaca;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--background-colour);
  padding: 5em;
  text-align: center;
}

h1 {
  color: var(--primary-colour);
}

input {
  width: 80%;
  background: none;
  border: 2px solid var(--secondary-colour);
  border-radius: 2rem;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: xx-large;
  padding: 0.5rem;
  text-align: center;
  transition: border-color 0.5s ease-in-out;
}

input:focus {
  outline: none;
  border-color: var(--primary-colour);
}

button {
  border: 2px solid var(--primary-colour);
  border-radius: 2rem;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--primary-colour);
  color: white;
  padding: 0.75rem;
  transition: background-color 0.4s ease-in-out,
              border-color 0.4s ease-in-out,
              color 0.4s ease-in-out;
}

button:hover {
  background-color: var(--primary-colour-accent);
  border-color: var(--primary-colour-accent);
  cursor: pointer;
}

button:disabled {
  background-color: var(--secondary-colour);
  border-color: var(--secondary-colour);
  cursor: not-allowed;
}

.search {
  display: flex;
  align-items: stretch;
  justify-content: center;
}