:root {
  --primary-colour: #018cdd;
  --primary-colour-accent: #026dac;
  --background-colour: #fafbfd;
  --secondary-colour: #cacaca;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--background-colour);
  padding: 5rem;
  padding-top: 1rem;
  text-align: center;
}

h1 {
  color: var(--primary-colour);
  font-size: 5vw;
}

input {
  width: 80%;
  background: none;
  border: 2px solid var(--secondary-colour);
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 2vw;
  padding: 0.5rem;
  text-align: center;
  transition: border-color 0.5s ease-in-out,
              background-color 0.5s ease-in-out,
              border-right 0.5s ease-in-out;
}

input:focus {
  outline: none;
  border-color: var(--primary-colour);
  border-right: 2px solid var(--primary-colour);
  background-color: white;
}

button {
  border: 2px solid var(--primary-colour);
  border-radius: 2rem;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--primary-colour);
  color: white;
  padding: 0.75rem;
  transition: background-color 0.4s ease-in-out,
              border-color 0.4s ease-in-out,
              color 0.4s ease-in-out;
}

button:hover {
  background-color: var(--primary-colour-accent);
  border-color: var(--primary-colour-accent);
  cursor: pointer;
}

button:disabled {
  background-color: var(--secondary-colour);
  border-color: var(--secondary-colour);
  cursor: not-allowed;
}

small {
  color: var(--primary-colour);
  font-size: 1.5vw;
}

.search {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.scripture-card {
  background-color: white;
  box-shadow: 5px 5px 20px var(--secondary-colour);
  margin-top: 5rem;
  padding: 3rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  font-size: 2.5vw;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.search-spinner {
  border: 5px dotted var(--primary-colour);
  border-radius: 100%;
  border-left-style: solid;
  width: 5vw;
  height: 5vw;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}